@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/*  Change colors and font here  */
$btn-color: #b0d0d3;
$primaryColor: #4d4d4d;
$secondaryColor: #fff;
$bgColor:  #e8e6e9;
$primaryFont: 'lilita one', sans-serif;
$secondaryFont: helvetica, sans-serif;
$shadow: 0px -2px 15px 3px rgba(192, 132, 151, 0.6);

/*  Css basic reset  */
* {
    margin: 0;
    font: inherit;
}

body {
    background: $bgColor;
    color: $primaryColor;
}

p {
    font-size: 1.1rem;
    font-family: $secondaryFont;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 1.8rem;
}

nav {
    width: 100%;
    height: 50px;
    padding: 15px 5px;
    background-color: $secondaryColor;
    display: inline-block;
    position: fixed;
    box-shadow: $shadow;

    .logo {
        width: 250px;
        margin: 5px 2%;
        position: relative;
        float: left;
    }

    .search-bar {
        width: 300px;
        margin: 5px 2%;
        position: relative;
        float: right;
    
        form {
            float: right;       
    
            input[type="search"] {
                width: 250px;
                height: 35px;
                background-color: $secondaryColor;
                font-family: $secondaryFont;
                border: none;
                box-shadow: $shadow;
                &:hover {
                    border: none;
                }
            }
    
            button {
                color: $secondaryColor;
                background-color: $btn-color;
                border: none;
                width: 35px;
                height: 35px;
                vertical-align: bottom;
            }
        }
    }
}

.intro {
    display: inline-block;
    text-align: center;
    width: 80%;
    height: auto;
    margin: 150px 10% 10px;

    h5 {
        font-size: 1.4rem;
    }
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    clear: both;
    width: 90%;
    height: 500px;
    margin: 15px 5%;
}

.logo-gif {
    max-width: auto;
    height: auto;
    margin: 0 0 -5px;
}

footer {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 20px auto;

    a {
        color: $primaryColor;
        text-decoration: none;
        &:hover {
            color: $btn-color;
        }
    }
}
