@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
* {
  margin: 0;
  font: inherit;
}
body {
  background: #e8e6e9;
  color: #4d4d4d;
}
p {
  font-size: 1.1rem;
  font-family: helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'lilita one', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}
nav {
  width: 100%;
  height: 50px;
  padding: 15px 5px;
  background-color: #fff;
  display: inline-block;
  position: fixed;
  box-shadow: 0px -2px 15px 3px rgba(192, 132, 151, 0.6);
}
nav .logo {
  width: 250px;
  margin: 5px 2%;
  position: relative;
  float: left;
}
nav .search-bar {
  width: 300px;
  margin: 5px 2%;
  position: relative;
  float: right;
}
nav .search-bar form {
  float: right;
}
nav .search-bar form input[type="search"] {
  width: 250px;
  height: 35px;
  background-color: #fff;
  font-family: helvetica, sans-serif;
  border: none;
  box-shadow: 0px -2px 15px 3px rgba(192, 132, 151, 0.6);
}
nav .search-bar form input[type="search"]:hover {
  border: none;
}
nav .search-bar form button {
  color: #fff;
  background-color: #b0d0d3;
  border: none;
  width: 35px;
  height: 35px;
  vertical-align: bottom;
}
.intro {
  display: inline-block;
  text-align: center;
  width: 80%;
  height: auto;
  margin: 150px 10% 10px;
}
.intro h5 {
  font-size: 1.4rem;
}
.container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  clear: both;
  width: 90%;
  height: 500px;
  margin: 15px 5%;
}
img {
  max-width: 22%;
  height: 18%;
  margin: 10px 1%;
}
.logo-gif {
  max-width: auto;
  height: auto;
  margin: 0 0 -5px;
}
footer {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 20px auto;
}
footer a {
  color: #4d4d4d;
  text-decoration: none;
}
footer a:hover {
  color: #b0d0d3;
}
/*  Responsive  */
@media only screen and (max-width: 600px) {
  nav {
    height: 120px;
    text-align: center;
    position: relative;
  }
  nav .logo {
    width: auto;
    float: none;
    display: inline-block;
  }
  nav .search-bar {
    width: 75%;
    margin: 25px 12.5%;
    float: none;
    text-align: center;
  }
  nav .search-bar form {
    float: none;
  }
  .intro {
    margin: 50px 10% 10px;
  }
  .intro h5 {
    font-size: 1.1rem;
  }
  .container {
    height: auto;
  }
  img {
    max-width: 98%;
    height: auto;
    margin: 5px 2%;
}
  footer p {
    font-size: 0.5rem;
  }
}
